window-rule {
    match app-id="antigravity"
    match app-id="code"
    match app-id="dev.zed.Zed"
    open-on-workspace "3" //dev
}

window-rule {
    match app-id="Spotify"
    open-on-workspace "1"
    open-maximized-to-edges true
}

window-rule {
    match app-id="app.zen_browser.zen"
    match app-id="google-chrome"
    match app-id="firefox"
    open-on-workspace "2"
}

